.dropdown-hero-heading{
    margin-top: 4rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(58, 184, 58);
    text-transform: uppercase; 
}
.dropdown-heading{
    margin-top: 0.2rem;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(41, 39, 39);
    margin-bottom: 2rem;
}
// ======section 1=========
.dropdown-card1{
    border: 0.1rem solid #6c757d;
}
.dropdown-hr{
    width: 90%;
    color: #6c757d;
}
.dropdown-programming{
    font-size: 1.2rem;
    font-weight: 600;
}
.dropdown-para1{
    color: #6c757d;
    line-height: 2rem;
    margin-bottom: 2rem;
}
.dropdown-amount{
    color: #dc3545;
    padding-right: 2rem;
}
.dropdown-inside{
    display: flex;
    justify-content: space-evenly;
}
.dropdown-dollar{
    font-size: 1.5rem;
}
.dropdown-button{
    font-size: 1.2rem;
    background-color: #343a40;
    color: #fff;
    margin-bottom: 2rem;
}
// ======card2=======
.dropdown-card2{
    border: 0.1rem solid #6c757d;
}
.dropdown-art{
    font-size: 1.2rem;
    font-weight: 600;
}
.dropdown-para2{
    color: #6c757d;
    line-height: 2rem;
    margin-bottom: 2rem;
}
.dropdown-inside1{
    display: flex;
    justify-content: space-evenly;
}
.dropdown-button{
    font-size: 1.2rem;
    background-color: #343a40;
    color: #fff;
    margin-bottom: 2rem;
}
// ======card 3======
.dropdown-card3{
    border: 0.1rem solid #6c757d;
}
.dropdown-languages{
    font-size: 1.2rem;
    font-weight: 600;
}
.dropdown-para3{
    color: #6c757d;
    line-height: 2rem;
    margin-bottom: 2rem;
}
.dropdown-inside2{
    display: flex;
    justify-content: space-evenly;
}
.dropdown-button{
    font-size: 1.2rem;
    background-color: #343a40;
    color: #fff;
    margin-bottom: 2rem;
}
.dropdown-gridbox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    
}
.dopdown-pic1{
width: 100%;
}
// ==============Section2========
.dropdown-card4{
    border: 0.1rem solid #6c757d;
}
.dropdown-hr{
    width: 90%;
    color: #6c757d;
}
.dropdown-traning{
    font-size: 1.2rem;
    font-weight: 600;
}
.dropdown-para4{
    color: #6c757d;
    line-height: 2rem;
    margin-bottom: 2rem;
}
.dropdown-amount{
    color: #dc3545;
    padding-right: 2rem;
}
.dropdown-inside3{
    display: flex;
    justify-content: space-evenly;
}
.dropdown-dollar{
    font-size: 1.5rem;
}
.dropdown-button{
    font-size: 1.2rem;
    background-color: #343a40;
    color: #fff;
    margin-bottom: 2rem;
}
// ======card2=======
.dropdown-card5{
    border: 0.1rem solid #6c757d;
}
.dropdown-business{
    font-size: 1.2rem;
    font-weight: 600;
}
.dropdown-para5{
    color: #6c757d;
    line-height: 2rem;
    margin-bottom: 2rem;
}
.dropdown-inside4{
    display: flex;
    justify-content: space-evenly;
}
.dropdown-button{
    font-size: 1.2rem;
    background-color: #343a40;
    color: #fff;
    margin-bottom: 2rem;
}
// ======card 3======
.dropdown-card6{
    border: 0.1rem solid #6c757d;
}
.dropdown-vocabulary{
    font-size: 1.2rem;
    font-weight: 600;
}
.dropdown-para6{
    color: #6c757d;
    line-height: 2rem;
    margin-bottom: 2rem;
}
.dropdown-inside5{
    display: flex;
    justify-content: space-evenly;
}
.dropdown-button{
    font-size: 1.2rem;
    background-color: #343a40;
    color: #fff;
    margin-bottom: 2rem;
}
.dropdown-gridbox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    
}
.dopdown-pic1{
width: 100%;
}
.dropdown-section2{
    margin-top: 3rem;
}
// =======Section 3========
.dropdown-card7{
    border: 0.1rem solid #6c757d;
}
.dropdown-hr{
    width: 90%;
    color: #6c757d;
}
.dropdown-photography{
    font-size: 1.2rem;
    font-weight: 600;
}
.dropdown-para7{
    color: #6c757d;
    line-height: 2rem;
    margin-bottom: 2rem;
}
.dropdown-amount{
    color: #dc3545;
    padding-right: 2rem;
}
.dropdown-inside6{
    display: flex;
    justify-content: space-evenly;
}
.dropdown-dollar{
    font-size: 1.5rem;
}
.dropdown-button{
    font-size: 1.2rem;
    background-color: #343a40;
    color: #fff;
    margin-bottom: 2rem;
}
// ======card2=======
.dropdown-card8{
    border: 0.1rem solid #6c757d;
}
.dropdown-education{
    font-size: 1.2rem;
    font-weight: 600;
}
.dropdown-para8{
    color: #6c757d;
    line-height: 2rem;
    margin-bottom: 2rem;
}
.dropdown-inside7{
    display: flex;
    justify-content: space-evenly;
}
.dropdown-button{
    font-size: 1.2rem;
    background-color: #343a40;
    color: #fff;
    margin-bottom: 2rem;
}
// ======card 3======
.dropdown-card9{
    border: 0.1rem solid #6c757d;
}
.dropdown-technologies{
    font-size: 1.2rem;
    font-weight: 600;
}
.dropdown-para9{
    color: #6c757d;
    line-height: 2rem;
    margin-bottom: 2rem;
}
.dropdown-inside8{
    display: flex;
    justify-content: space-evenly;
}
.dropdown-button{
    font-size: 1.2rem;
    background-color: #343a40;
    color: #fff;
    margin-bottom: 2rem;
}
.dropdown-gridbox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    
}
.dopdown-pic1{
width: 100%;
}
.dropdown-section3{
    margin-top: 3rem;
}