// ======Main-header===========
.events-hero-heading{
    margin-top: 4rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(58, 184, 58);
    text-transform: uppercase; 
}
.events-heading{
    margin-top: 0.2rem;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(41, 39, 39);
    margin-bottom: 2rem;
}
// ==========section 1=============
.section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
}
.events-pic13{
   
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5rem;
}
.events-heading1{
    margin-top: 6rem;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(58, 184, 58);
}
.events-heading2{
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: rgb(22, 22, 22);
}
.events-first-link{
font-size: 1.5rem;
font-weight: 500;
color:rgb(51, 49, 49);
}
.events-para1{
    margin-top: 1rem;
    color: rgb(116, 111, 111);
}
.events-calender{
    margin-top: 2rem;
    margin-bottom: 5.5rem;
}
.date, .chat, .dil{
    padding-left: 1rem;
    color: rgb(158, 154, 154);
}
.icon{
    color: rgb(158, 154, 154);
 
}
// ===========section 2=============
.events-heading3{
    margin-top: 6rem;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(58, 184, 58); 
}
.events-heading4{
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: rgb(22, 22, 22);
}
.events-para2{
    margin-top: 1rem;
    color: rgb(116, 111, 111);
}
.events-calender2{
    margin-top: 2rem;
    margin-bottom: 5.5rem;
}
.events-pic14{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5rem;
}
.section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
}
// ==========section 3==========
.section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
}
.events-pic13{
   
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5rem;
}
.events-heading1{
    margin-top: 6rem;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(58, 184, 58);
}
.events-heading2{
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: rgb(22, 22, 22);
}
.events-first-link{
font-size: 1.5rem;
font-weight: 500;
color:rgb(51, 49, 49);
}
.events-para1{
    margin-top: 1rem;
    color: rgb(116, 111, 111);
}
.events-calender{
    margin-top: 2rem;
    margin-bottom: 5.5rem;
}
.date, .chat, .dil{
    padding-left: 1rem;
    color: rgb(158, 154, 154);
}
.icon{
    color: rgb(158, 154, 154);
 
}
// =========section 4=======
.events-heading3{
    margin-top: 6rem;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(58, 184, 58); 
}
.events-heading4{
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: rgb(22, 22, 22);
}
.events-para2{
    margin-top: 1rem;
    color: rgb(116, 111, 111);
}
.events-calender2{
    margin-top: 2rem;
    margin-bottom: 5.5rem;
}
.events-pic14{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5rem;
}
.section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
}